@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090B;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

header li {
  display: inline;
  margin: 1rem;
  padding: .25rem;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #F9F9F9;
}

header li:hover {
  border-bottom: 3px solid #00D2DF;
  transition: .2s;
}

.home {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.autor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul li a {
  color: #F9F9F9;
  margin: 1rem;
  text-decoration: none;
}

.home-texto-autor {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #00D2DF;
  line-height: 77px;
  margin: 0.25rem 0;
}

.home-texto {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFF;
  margin: 0.75rem 0;
}

.about, .projects {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
}

.about h1, .projects h1 {
  color: #F9F9F9;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.875rem;
}

.about p {
  width: 65vw;
  text-align: justify;
  font-weight: 400;
  font-size: 1.125rem;
  color: #828282;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#project-container a {
 text-decoration: none;
}


.project-item {
  width: 21.875rem;
  height: 17rem;
  background-color: #333333;
  border: 1px inset #504f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1.563rem;
  margin: 1rem;
 
}

.project-img {
  width: 20.75rem;
  height: 8.8rem;
}

.project-title {
  font-size: 1.12rem;
  font-weight: 500;
  color: #fff;
  margin: 0.5rem;
}

.project-text {
  font-size: 0.875rem;
  font-weight: 400;
  color: #828282;
  text-align: justify;
  margin-bottom: 0.75rem;
}

