@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090B;
}

header {
 display: flex;
 justify-content: space-between;
 padding: 1rem;
}

nav {
  background-color: #09090B;
  padding: 1rem;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}


header li {
  display: inline;
  margin: 1rem;
  padding: .25rem;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #F9F9F9;
}

header li:hover {
  border-bottom: 3px solid #00D2DF;
  transition: .2s;
}

.home {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.autor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul li a {
  color: #F9F9F9;
  margin: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

#btn-mobile {
  display: none;
}
.home-texto-autor {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #00D2DF;
  line-height: 77px;
  margin: 0.25rem 0;
}

.home-texto {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFF;
  margin: 0.75rem 0;
}

.about,
.projects {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
}

.projects {
  width: 98vw;
  height: 130vh;
}

.about h1,
.projects h1 {
  color: #F9F9F9;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.875rem;
}

.about p {
  width: 65vw;
  text-align: justify;
  font-weight: 400;
  font-size: 1.125rem;
  color: #828282;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#project-container a {
  text-decoration: none;
}


.project-item {
  width: 21.875rem;
  height: 17rem;
  background-color: #333333;
  border: 1px inset #504f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1.563rem;
  margin: 1rem;
  transition: .5s;
  border-radius: 8px;
}

.project-item:hover {
  transform: translate3d(10px, -10px, 10px);
  box-shadow: 10px 10px 10px rgb(48, 47, 47);
}

.project-img {
  width: 20.75rem;
  height: 8.8rem;
}

.project-title {
  font-size: 1.12rem;
  font-weight: 500;
  color: #fff;
  margin: 0.5rem;
}

.project-text {
  font-size: 0.875rem;
  font-weight: 400;
  color: justify;
  margin-bottom: 0.75rem;
}

@media (max-width: 600px) {
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #btn-mobile {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #828282;
    z-index: 100;
  }

  nav li {
    display: block;
  }

  .active {
    display: block;
  }

  .logo {
    display: none;
  }

}